body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px
}

a {
    color: white;
    text-decoration: none;
    justify-content: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid snow
}

.center {
    text-align: center;
}

h1 {
    color: #4f8fbf;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

nav a:hover {
    color: #4f8fbf
}

form input,
form textarea,
form button {
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    text-align: center;
}

form button {
    background-color: #4f8fbf;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4b69bb;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    justify-content: center;
    width: 340px;
}

form {
    text-align: center;
    flex-direction: column;
    height: 100px;


}

.OBS {
    text-align: center;
}

.container form {
    align-items: center;
    justify-content: center;
    display: flex;
}
